<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <title>Thorvald Kjartansson</title>
    </head>
    <body>
        <div id="app">
            <v-app>
                <main>
                    <v-container>Hello world</v-container>
                </main>
            </v-app>
        </div>
        <% include ../partials/scripts %>
        <script src="../../js/main.js" charset="utf-8"></script>
    </body>
</html>
